body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
p{
    line-height: 2;
}
h1{
    margin: 2.6rem auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66bfbf;
    
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat';
    color: #66bfbf;
}

hr{
    border: dotted #99c7c7;
    border-bottom: none;
    width: 5%;
    padding-top: 100 auto;
}
a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 10px;
    text-decoration: none;

}

a:hover{
    color: #eaf6f6;
}

.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 120px;
}
.middle-container{
 background-color: #f6f5f5;
margin: 100px, 0;
}

.bottom-container{
background-color: #66bfbf;
margin-top: 50px;
padding: 50px 0 20px;
}

.web {
    text-decoration: underline;
    font-size: 1.95rem;
    
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 100px;
    padding-top: 50px;
}
 
.botton-cloud {
    position: absolute;
    left: 300px;
    top: 400px; 
}

.idea {
    margin-bottom:  3rem;
}

.font-normal{
    font-weight: normal;
}
.intro{
    width: 30%;
    margin:auto;
}

.contact-message{
    width: 30%;
    margin:auto;

}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}


.skill-row{
margin: 100px auto 100px auto;
width: 50%;
text-align: left;
}

.pc{
    width: 25%;
    float: left;
    margin-right: 30px;
    padding-bottom: 2.5rem;


}

.chess {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.BUTTON_FKF {
    background: #11CCD4;
    background-image: -webkit-linear-gradient(top, #11CCD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CCD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CCD4, #11999E);
    background-image: -o-linear-gradient(top, #11CCD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CCD4, #11999E);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_FKF:hover {
    border: solid #2BC4AD 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #30E3CB);
    background-image: -moz-linear-gradient(top, #1E62D0, #30E3CB);
    background-image: -ms-linear-gradient(top, #1E62D0, #30E3CB);
    background-image: -o-linear-gradient(top, #1E62D0, #30E3CB);
    background-image: -webkit-gradient(to bottom, #1E62D0, #30E3CB);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }